*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
**/.transforms/
/transcriber/src/main/assets/models/*.tflite
local.properties
infra/terraform/**/terraform.tfvars
infra/terraform/**/terraform.tfstate
infra/terraform/**/terraform.tfstate.*
infra/terraform/**/.terraform.lock.hcl
infra/terraform/**/.terraform/
